@model BlogM.Model.Post

@{
    Layout = "/Views/Shared/_default.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostDetails</title>
</head>
<body>
    <br />
    <h1>@Model.PostTitle</h1>

    <div class="infobox">
        <img src="~/Images/@Model.ImageUrl" alt="Alternate Text" />
        <br />
        <h3>Blog post written by : @Model.Author</h3>
        <br />
        <p>@Model.Body</p>
        <br />
    </div>
    <h2>Tags</h2>
    <main class="tagbox">
        <div>
            <a href="/Post/CreatePost/@Model.PostId">Create Post</a>
            <br />
        </div>
        @foreach (var item in Model.TagPosts)
        {
            <a href="/Tag/SingleTag/@item.TagId">

                @*<img src="~/Images/@item.ImageUrl" alt="Alternate Text" />*@
                <p>Tags : @item.TagId</p>

            </a>
            <div>


                <a href="/Post/EditPost/@item.PostId">Edit Post</a>
                <a href="/Post/DeletePost/@item.PostId">Delete Post</a>

            </div>
        }

    </main>
</body>
</html>
