@model IEnumerable<BlogM.Model.Post>
@{
    Layout = "/Views/Shared/_default.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostIndex</title>
</head>
<body>
    <div>
        <h2> Posts</h2>
    </div>
    <main>

        @foreach (var item in Model)
        {

            <a href="/Post/SinglePost/@item.PostId">


                @*<img src="~/Images/@item.ImageUrl" alt="Alternate Text" />*@
                <h3>@item.PostTitle</h3>
            </a>
        }

    </main>
</body>
</html>
