@model IEnumerable<BlogM.Model.Category>
@{
    Layout = "/Views/Shared/_default.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryIndex</title>
</head>
<body>
    <h1>Welcome to this Blog </h1>
    <h2>Categories</h2>
    <main>

        @foreach (var item in Model)
        {
            <a href="Category/SingleCategory/@item.CategoryId">

                @**<img src="~/Images/@item.ImageUrl" alt="Alternate Text" />**@
                <h2>@item.CategoryName</h2>


            </a>
        }

    </main>
</body>
</html>